.settings-icon { 
    margin-right: 14px;
    cursor: pointer;
}

.settings-menu { 
    margin-top: 25px;
    margin-left: 80px;
}

.settings-dialog-delete { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-dialog-delete-img { 
    width: 27px;
    margin: 23px 0 13px 0;
}